body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #272A37;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: #FFF;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.form-group {
  margin-bottom: 10px;
  margin-left: 20%;
}

.password-input {
  width: calc(100% - 30px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-card {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.user-card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.remove-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.new-password-button {
  width: 256px;
  height: 55px;
  border-radius: 100px;
  border: none;
  background: #3590F5;
  color: #FFFFFF;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.vector {
  margin-top: 58px;
  width: 500px;
  height: 10px;
}

.no-password-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #838383;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 160px;
}

.form-div {
  color:#8D8D8D;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: #1E2029;
  width: 80%;
  height: 50%;
}

.form-container {
  margin-top: 35px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
}

input {
  border-radius: 10px;
  background: #3B3F50;
}

.input-service {
  width: 45vw;
  height: 5vh;
  margin-bottom: 20px;
}

.input-login {
  width: 236px;
  height: 5vh;
  margin-bottom: 50px;
  margin-right: 40px;
}

.input-password {
  width: 236px;
  height: 5vh;
}

.input-URL {
  width: 45vw;
  height: 5vh;
}


.label-item {
  display: flex;
  flex-direction: column;
}

.label-password {
  display: flex;
  flex-direction: column;
}

.password-toggle {
  background-color: #eee;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-toggle:hover {
  background-color: #ddd;
}

.sign-and-cancel {
  width: 90%;
  background-color: #ff0000;
  margin-left: 15px;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 35px;
}

.sign-button {
  border-radius: 100px;
  background: #3590F5;
}

.cancel-button {
  color: #3590F5;
  align-self: center;


}

.password-criteria{
  margin: auto;
}