body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #272A37;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1440px;
  max-height: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: #FFF;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.form-group {
  margin-bottom: 10px;
}

.password-input {
  width: calc(100% - 30px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-toggle {
  background-color: #eee;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: -35px;
}

.password-toggle:hover {
  background-color: #ddd;
}

.user-card {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.user-card a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.remove-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.new-password-button {
  width: 256px;
  height: 55px;
  border-radius: 100px;
  border: none;
  background: #3590F5;
  color: #FFFFFF;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.vector {
  margin-top: 58px;
  width: 500px;
  height: 10px;
}

.no-password-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #838383;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 160px;
}